<%= @tweets.inspect %>
<h1>hvhv</h1>
<%#=tweets.each { |tweet| puts tweet.full_text } %>


<%=# a class="twitter-timeline" href="https://twitter.com/sudarsa21746359?ref_src=twsrc%5Etfw">Tweets by sudarsa21746359</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
%>

<a href="https://twitter.com/sudarsa21746359?ref_src=twsrc%5Etfw" class="twitter-follow-button" data-show-count="false">Follow @sudarsa21746359</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>


<a class="twitter-timeline" href="https://twitter.com/sudarsa21746359?ref_src=twsrc%5Etfw">Tweets by sudarsa21746359</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>